<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.admin.mapper.UserMapper">

    <!-- 结果映射 -->
    <resultMap id="UserResultMap" type="com.jing.admin.model.domain.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- 查询用户及其角色 -->
    <select id="selectUserWithRoles" parameterType="long" resultMap="UserResultMap">
        SELECT u.*,
        FROM tb_users u
        WHERE u.id = #{id}
    </select>

    <!-- 根据用户名查询用户及其角色 -->
    <select id="selectUserWithRolesByUsername" parameterType="string" resultMap="UserResultMap">
        SELECT u.*
        FROM tb_users u
        WHERE u.username = #{username}
    </select>

</mapper>