<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.admin.mapper.UserMapper">

    <!-- 结果映射 -->
    <resultMap id="UserResultMap" type="com.jing.admin.model.domain.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <select id="selectUserWithRoles" parameterType="string" resultMap="UserResultMap">
        SELECT u.*
        FROM tb_users u
        WHERE u.id = #{id}::uuid
    </select>

    <select id="selectUserWithRolesByUsername" parameterType="string" resultMap="UserResultMap">
        SELECT u.*
        FROM tb_users u
        WHERE u.username = #{username}
    </select>

    <select id="selectUserPage" resultMap="UserResultMap">
        SELECT
        u.*
        FROM
        tb_users u
        <where>
            <if test="query.username != null and query.username != ''">
                AND u.username LIKE CONCAT('%', #{query.username}, '%')
            </if>
            <if test="query.email != null and query.email != ''">
                AND u.email LIKE CONCAT('%', #{query.email}, '%')
            </if>
            <if test="query.enabled != null">
                AND u.enabled = #{query.enabled}
            </if>
        </where>
        ORDER BY u.create_time DESC
    </select>

</mapper>
